/*----------------------------------------------
*
* [Theme Light Green Stylesheet]
*
* Theme    : Leverage
* Version  : 2.0
* Author   : Codings
* Support  : codings.dev
* 
----------------------------------------------*/

/*----------------------------------------------

[ALL CONTENTS]

1. Root

----------------------------------------------*/

/*----------------------------------------------
1. Root
----------------------------------------------*/

/* #region Root */

:root {
    
<<<<<<< HEAD
    --primary-color: #27e900;
    --secondary-color: #a7ff1a;
=======
    --primary-color: #65FF00;
    --secondary-color: #ceff1a;
>>>>>>> 61c0f856b5370aaeaf21c9816c636ddadc0845fa
}

/* #endregion Root */